main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

ion-header {
  background: black;
}
ion-header ion-toolbar {
  --ion-toolbar-background: transparent;
  color: white;
}

ion-slides {
  height: 100%;
}

ion-content {
  --padding-top: 200px;
}
