main {

}

ion-header {
  background: black;
}
ion-header ion-toolbar {
  --ion-toolbar-background: transparent;
  color: white;
}

ion-header collapsible-header-content {
  display: block;
}

ion-slides {
  height: 100%;
}

main.wrapper-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
